header{
  margin-top=30px;
}

ul li{
  display: inline;
  font-size: 18px;
  font-family: 'Rambla', sans-serif;
  font-weight: bold;

}

nav ul{
  float: left;
  padding-left: 30px;
  padding-top: 40px;
}

ul a{
  text-decoration: none;
  color: #FF0000;
}

ul a:hover{
  color: #C00000;
}

.hero{
    overflow:hidden;
    position: relative;
    height: 475px;

}

.text {
  z-index: 100;
  position: absolute;
  left: 60px;
  top: 180px;
  font-size: 48px;
  color: white;
  text-shadow: 1px 1px 2px #d00000;
  font-family: 'Alegreya SC', serif;
}

#heading{
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 35px;
  text-align: center;
  margin-left: 5px;

}

#heading-text{
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 0px;
  text-align: left;

}

.footer{
  background-color: #C00000;
  color:white;
  width:auto;
  height: 250px;
}

.p{
    text-align: left;
}
